
# Archivo .env (no lo subas a GitHub)

# Base de datos MySQL Railway
DB_HOST=shinkansen.proxy.rlwy.net
DB_PORT=43896
DB_USER=root
DB_PASSWORD=YajnxsWPhyrSCQieFLdtWtAZnXIBuZOx
DB_NAME=app_clinica

# Correo de Gmail
EMAIL_USER=appclinicaprueba@gmail.com
EMAIL_PASSWORD=cknh kkkd daom zvyb
