# Archivo .env (no lo subas a GitHub)

# Base de datos MySQL Railway
DB_HOST=tu_host
DB_PORT=tu_puerto
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_NAME=nombre_base

# Correo de Gmail
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASSWORD=tu_contraseña_app
